body {
    font-family: Arial;
    background-color:#5c5c5c;

}

.content {
    background-color: #74551d;
    width: 500px;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.coontent.h1 {
    text-transform: uppercase;
}